.header {
    height: 86px;
    background-color: #0071DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding: 17px;
}
.hmenubtn{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 155px;
}
.logo>img {
    height: 35px;
}
.logo2{
    display: none;
}
i{
    font-size: 18px;
    min-width: 20px;
}

.department, .services{
    display: flex;
    background-color: transparent;
    justify-content: center;
    border: none;
    color: white;
    gap: 8px;
    font-size: 17px;
    font-weight: 500;
    min-width: 150px;
}
.services{
    min-width: 120px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 7px;
    border-radius: 50px;
}
.search>input{
    background-color: white;
    width: 75vh;
    height: 29px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
}
.search>button{
    height: 34px;
    min-width: 34px;
    background-color: #0071DC;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    align-items: center;
    padding-top: 3px;
}

.favitem, .account{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    min-width: 105px;
    border: none;
    gap: 10px;
    font-weight: 600;
}

.favitem>div>p:nth-child(1),.account>div>p:nth-child(1){
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}

.cart{
    position: relative;
    height: 50px;
    min-width: 40px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
}

.prioductnos{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    height: 15px;
    width: 15px;
    background-color: #FFC220;
    border: 0.5px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
@media (max-width: 1000px) {
    .header{
        height: 75px;
        overflow-y: hidden;
    }
    .logo, .favitem,.account,.department,.services{
        display: none;
    }
    .logo2{
        display: flex;    
        min-width: 45px;
    }
    .logo2>img {
        height: 35px;
    }
    .hmenubtn{
        display: flex;
        background-color: transparent;
        border: none;
        color: white;
        min-width: 35px;
    }
    .hmenubtn>i{
        font-size: 24px;
    }
    .search{
        padding: 3px;
        border-radius: 50px;
    }
    .search>input{
        width: 80vh;
        height: 20px;
        min-width: 40px;
    }
    .cart{
        margin-left: 15px;
    }
}

@media (max-width: 460px) {
    .search>input{
        width: 18vh;
    }
    .cart{
        margin-left: 10px;
    }
}

