.navbar{
    height:55px;
    background-color: #0071DC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    border-top: 1px solid white;
    padding: 0px 20px;
}
.navl, .navr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.process>img{
    height: 36px;
}
.process>button{
    border: none;
    background-color: transparent;
    padding-top: 2px;
    color: white;
}
.navl>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navr>a{
    text-decoration: none;
    color: white;
}
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding: 10px;
        height: auto;
    }

    .navl, .navr {
        flex: 1 1 100%;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .process > img {
        height: 30px;
    }

    .navr > a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
        height:50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navl>.location,.navl>.home,.navr{
        display: none;
    }

    .navl, .navr {
        flex-direction: column;
        gap: 5px;
    }

    .navl > div, .navr > a {
        font-size: 12px;
    }

    .process > img {
        height: 25px;
    }

    .process > p {
        font-size: 14px;
    }
}